
  
  body {
      margin: 2em;
      font-family: helvetica, arial, sans-serif;
      
      background-color: slategrey;
      color: wheat;   
  }
  
  h1 {
    font-family: verdana, arial, sans-serif;
    color: wheat;
  }
  
#gameControlsArea {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

#gameControlsArea > h2 {
  margin-left: 1em;
}
  /* button properties */
  
  button {
    padding: 10px;
    border-radius: 10px;  
    border: solid 2px black;
    
    width: 5em;
    height: 3em;
    
    align-self: center;
  }

  #startBtn:hover, #stopBtn:hover {
      cursor:pointer;
      background-color: gray;
  }
  
  /* #startBtn {
    background: lightgreen;
  }
  
  #stopBtn {
    background: tomato;
  }
   */
  #gameButtonArea {
    display: flex;
    user-select: none;
    margin-top: 1em;
  }
  
  #gameButtonArea > button {
    width: 200px;
    max-width: 200px;
    min-width: 10vh;
    
    height: 200px;
    
    margin: 2px;

    padding: 10px;
  }
  
  #gameButtonArea > button > img {
    max-width: 100%;
    margin: auto;
  }

  #button1 {
    background: lightgreen;
  }
  
  #button1:active, #button1.lit {
    background: green;
  }
  
  #button2 {
    background: lightblue;
  }
  
  #button2:active, #button2.lit {
    background: blue;
  }
  
  #button3 {
    background: pink;
  }
  
  #button3:active, #button3.lit {
    background: red;
  }
  
  #button4 {
    background: lightyellow;
  }
  
  #button4:active, #button4.lit {
    background: yellow;
  }
  
  #button5 {
    background: #C4A484;
  }
  
  #button5:active, #button5.lit {
    background: brown;
  }
  
  .hidden { 
    display: none;
  }
  
  